<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Login app</title>
</head>
<body>
  <div class="app">
  {{#if success_msg}}
    <div>{{success_msg}}</div>
  {{/if}}
  {{#if error_msg}}
    <div>{{error_msg}}</div>
  {{/if}}
  {{#if error}}
    <div>{{error}}</div>
  {{/if}}
  <div class="body">
    {{{body}}}
  </div>
  </div>
</body>
</html>