<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form class="form" method="post" action="/signin">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <div class="btn">
      <button type="submit">Sing in</button>
    </div>
    <div class="form-link">
      <a class="register_link" href="/signup">register</a>
    </div>
  </form>
</body>
</html>